doctype html
html(lang="en")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content=description)
    meta(name='keywords' content=keywords)
    //- options:
    //- index/noindex   : should search engine show this page in results
    //- follow/nofollow : should search engine follow links or not
    meta(name='robots' content='index,follow')
    link(rel='stylesheet' type='text/css' href='/style.css')
  body
    if landing_img
      img.landing-img(alt=landing_img.alt src=landing_img.src)
    .content!= content
